:root {
  --primary-color: #121826;
  --secondary-color: #212936;
  --white-color: #e4e4e7;
  --grey-color: #6c727f;
  --light-purple-color: #7c71ff;
  --dark-grey-color: #394150;
  --light-blue-color: #4e80ee;
  --light-green-color: #5ec269;
  --dark-purple-color: #9d59ef;
  --light-red-color: #dd524c;
  --orange-color: #e87b35;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.container {
  max-width: 36rem;
  margin: 0 auto;
}

/************ 
  HEADER 
************/
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.125em 0.75em;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 3.125em;
}

.header__menu {
  border: none;
  background-color: var(--light-purple-color);
  padding: 0.5em;
  border-radius: 0.8em;
}

/************ 
  BlurLayout 
************/
.layout-blur {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/************ 
  Menu 
  Only mobile 
************/
.menu {
  box-sizing: border-box;
  max-width: 337px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  padding: 1em 2em;
  z-index: 99;
}

.menu--opened {
  overflow-y: hidden;
}

/* Close button */
.menu__close-btn {
  font-size: 1rem;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--secondary-color);
}

.menu__close-btn img {
  height: 24px;
}

/* Generate button */
.menu__list {
  list-style-type: none;
  padding: 0;
  margin: 1.875em 0 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.menu__list-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8571428571em;
  padding: 0.5714285714em;
  color: var(--white-color);
  font-size: 0.875rem;
}

.menu__list-item--active {
  background-color: var(--light-purple-color);
  border-radius: 0.5em;
}

/************ 
  Form 
************/
.form,
.form__label,
.form__group {
  display: flex;
  flex-direction: column;
}

.form {
  row-gap: 2em;
}

/* Text input */
.form__label {
  font-size: 0.875rem;
  font-weight: 600;
  row-gap: 0.8571428571em;
  color: var(--grey-color);
}

.form__label textarea,
.form__label > input {
  font-family: "Inter", sans-serif;
  padding: 0.75em;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 0.5em;
  border: 1px solid var(--secondary-color);
  font-size: 1rem;
}

.form__label textarea {
  box-sizing: border-box;
  height: 5.0625rem;
  resize: none;
}

.form__label textarea::placeholder {
  color: var(--grey-color);
}

/* Radio inputs */
.form__group {
  gap: 0.75em;
}

.form__group-title {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--grey-color);
}

/* Range Input */
.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background-color: transparent;
  cursor: pointer;
}

/* Track */
/* Chrome, Safari, Edge */
.slider::-webkit-slider-runnable-track {
  height: 6px;
  background-color: var(--secondary-color);
  border-radius: 100px;
}

/* Firefox */
.slider::-moz-range-track {
  height: 6px;
  background-color: var(--secondary-color);
  border-radius: 100px;
}

/* Thumb */
/* Chrome, Safari, Edge */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--light-purple-color);
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
.slider::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--light-purple-color);
  border-radius: 50%;
  cursor: pointer;
}

/* Chrome, Safari, Edge */
.slider::-webkit-slider-thumb {
  margin-top: -6px;
}

/* Firefox */
.slider::-moz-range-thumb {
  border: none;
}

/* Submit button */
.form__submit-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-purple-color);
  color: var(--white-color);
  font-size: 1rem;
  border-radius: 0.75em;
  padding-block: 0.75em;
}

/************ 
  ColorList 
************/
.form__color-list {
  display: flex;
  gap: 0.75em;
}

.form__color-list--item {
  --dimension: 32px;
  height: var(--dimension);
  width: var(--dimension);
  border-radius: 50%;
}

.form__color-list--item > input,
.form__resolution-list--item > input {
  display: none;
}

/* Modifiers */
.form__color-list--item-red {
  background-color: var(--light-red-color);
}

.form__color-list--item-orange {
  background-color: var(--orange-color);
}

.form__color-list--item-green {
  background-color: var(--light-green-color);
}

.form__color-list--item-blue {
  background-color: var(--light-blue-color);
}

.form__color-list--item-purple {
  background-color: var(--dark-purple-color);
}

.form__color-list--item-white {
  background-color: var(--white-color);
}

.form__color-list--item--selected {
  box-shadow:
    /* x y blur  */
    1px 1px 12px var(--light-purple-color),
    -1px -1px 12px var(--light-purple-color);
}

/************ 
  ResolutionList 
************/
.form__resolution-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

.form__resolution-list--item {
  flex: 0 0 auto;
  font-size: 0.75rem;
  padding: 0.6666666667em 1em;
  border-radius: 0.6666666667em;
  background-color: var(--secondary-color);
}

.form__resolution-list--item-selected {
  background-color: var(--light-purple-color);
}
